@page "/imports"
@using FamilyHub.DataImporter.Web.Data
@inject DataImportApiService ImportApiService

<h1>Data Imports</h1>

<p>Select the imports That you want to run.</p>

@if (importTypes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Supplier</th>
                <th>Start</th>
                <th>Stop</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var importType in importTypes)
            {
                <tr>
                    <td>@importType.Name</td>
                    <td>@importType.Supplier</td>
                    <td><button class="btn btn-primary" @onclick="@(e => StartProcess(importType.Name))">Start</button></td>
                    <td><button class="btn btn-primary" @onclick="@(e => StopProcess(importType.Name))">Stop</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ImportType[]? importTypes;

    protected override async Task OnInitializedAsync()
    {
        importTypes = await ImportApiService.GetDataImportsAsync();
    }

    private void StartProcess(string name)
    {
        
    }

    private void StopProcess(string name)
    {

    }
}
}




